
.add-authors {
    height: 60px;
    margin: 20px ;
    border-radius: 13px;
    background-color: #d9d9d9;
}

.add-authors h2 {
    color: black;
    font-size: 24px;
    font-family: 'Saira Stencil One';
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 3.60;
    word-wrap: break-word;
}

.add-authors button {
    background-color: var(--primary-color);
    width: 135px;
    height: 35px;
    padding: 0;
    border-radius: 13px;
    color: white;
    font-size: 20px;
    font-family: 'Roboto';
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 3;
    word-wrap: break-word;
}

.add-authors button:hover {
    outline: 0;
    background-color: var(--primary-color);
}


.authors-menu {
    margin: 10px;
    border-radius: 13px;
}



.authors-menu {
    background-color: var(--main-color);
    border: 6px solid black;
    border-radius: 13px;
}


.authors-menu-search-search {
    width: 135px;
    height: 38px;
    background-color: #FBFBFB;
    border-radius: 52px;
    padding: 1px 5px;
}

.authors-menu-search-search input {
    width: 100%;
    height: 100%;
    padding: 3px 5px;
    border-radius: 52px;
    background-color: #FBFBFB;
    border: none;
}

.authors-menu-search-search input:focus {
    outline:0;
}


.authors-menu-search button {
    background-color: var(--primary-color);
    width: 135px;
    height: 35px;
    text-align: center;
    padding: 0;
    border-radius: 13px;
    color: white;
    font-size: 20px;
    font-family: 'Roboto';
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 3;
    word-wrap: break-word;
}

.authors-menu-search button:hover {
    outline: 0;
    background-color: var(--primary-color);
    /* transition: all 1s; */
}

.authors-grid-container button {
    background-color: var(--primary-color);
    width: 135px;
    height: 35px;
    text-align: center;
    padding: 0 10px;
    border-radius: 10px;
    color: #010101;
    font-size: 20px;
    font-family: 'ae_Dimnah';
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 3;
    word-wrap: break-word;
}

.authors-grid-container {
    border-top: 4px solid #010101;
}

.authors-grid-container button:hover {
    outline: 0;
    background-color: orange;
    /* transition: all 1s; */
}

.authors-grid-container > div {
    padding-left: 5px;
}

.authors-status p {
    background-color: var(--primary-color);
    text-align: center;
    cursor: pointer;
    margin: 0;
    width: min-content;
    padding: 0px 5px;
    border-radius: 10px;
    color: #010101;
    font-size: 20px;
    font-family: 'ae_Dimnah';
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 3;
    word-wrap: break-word;
}

.nav-menu {
    color: black;
    font-size: 20px;
    font-family: 'ae_Dimnah';
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 3;
    word-wrap: break-word;
}

.authors-grid-container-data {
    cursor: pointer;
    color: black;
    font-size: 14px;
    font-family: 'ae_Dimnah';
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 2.10;
    word-wrap: break-word;
}

/* Add Author Card */

.add-authors-card {
    width: 434px;
    height: 216px;
    /* background-color: var(--primary-color); */
    border-radius: 10px;
    color: white;
    background-color: linear-gradient(to left, #007E94 60%, #E2E3EA 40%);
}

.add-authors-card .card-top {
    height: 30%;
}


@media (max-width: 1200px) {
    /* .categor-menu {
        width: 100%;
    } */
    .authors-menu-items {
        width: 1000px;
    }
}